@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

html {
  min-height: 100vh;
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
  padding: 1rem 2rem;
}

.App {
  display: flex;
  height: calc(100vh - 20px);
}

.dashboard-nav {
  background: rgba(143, 143, 143, 0.4); 
  /* background: rgb(29, 151, 108,0.3);  */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, rgb(147, 249, 185), rgb(29, 151, 108));   */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to top, rgb(147, 249, 185), rgb(29, 151, 108)); */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
  padding: 1rem 2rem;
  height: calc(100vh - 2rem);
  width: 10rem;
  box-shadow: 9px 0px 10px 1px rgba(0, 0, 0, 0.5); 
}

.budgy-logo {
  width: 150px;
}
